.container {
  width: 1280px;
  min-height: 100vh;

  margin: 100px auto;
}

.options_inner {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.option {
  width: 230px;

  margin: 0 10px;

  select,
  input {
    width: 100%;
    height: 30px;
    box-shadow: 0 0 0 3px rgba($main, 0.5);
    border-radius: 5px;
    margin: 10px 0;
  }

  input {
    padding: 10px;
  }

  label {
    display: block;
    width: 100%;
    margin: 10px;
    font-size: 16px;
  }
}

.filter_container {
  display: flex;

  width: 100%;

  justify-content: space-between;
  margin: 40px 0;

  p {
    font-weight: 500;
    font-size: 20px;
  }
}

.filter_select {
  width: 200px;
  height: 30px;
  box-shadow: 0 0 0 3px rgba($main, 0.5);
  border-radius: 5px;
  margin: 10px 0;
}

.result {
  position: relative;

  width: 1230px;

  margin: 0 auto;
}

.cart {
  position: relative;
  
  width: 100%;
  height: 210px;

  margin: 12px 0;

  border-radius: 10px;
  box-shadow: 0 0 0 3px rgba($main, .5);
  padding: 15px;
}

.cart_item {
  display: flex;

  margin: 8px 0;
}

.fool-btn {
  position: relative;

  padding: 0;
  margin: 0 10px;

  height: auto;
  width: auto;

  color: $contrast;
  text-align: left;

  &:hover {
    color: red;
  } 

  &:hover::after {
    opacity: 1;
    transform: translateY(-10px);
  }

  &::after {
    content: 'Копировать';
    position: absolute;

    width: 150px;

    text-align: center;
    border-radius: 5px;
    margin-left: 6px;
    // color: $contrast;
    opacity: 0;

    transition: all .5s;
  }
}

.download_btn {
  position: absolute;

  width: 30px;
  height: 30px;

  top: 0;
  right: 0;

  padding: 0;
  background: $contrast;
  border-radius: 5px;

  &:hover::after {
    opacity: 1;
    transform: translateY(-10px);
  }

  &::after {
    content: 'Сохранить в dpf';
    position: absolute;

    width: 150px;

    top: -15px;

    text-align: center;
    margin-left: 7px;
    padding: 5px;
    opacity: 0;
    color: red;

    transition: all .2s;
  }

  img {
    width: 15px;
  }
}